

.OurWork {
    padding: 100px 0;
    width: 100%;
}
.WorkSection {
    background: #F4F6FC;
    padding: 100px 0;
}
.WorkBanner {
    text-align: center;
}
.WorkTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #282938;
    opacity: 0.7;
}
.WorkHeading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #282938;
}
.WorkParg {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #282938;
    opacity: 0.7;
    max-width: 733px;
    margin: 0 auto;
}
.casestudy_header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    overflow: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
}
.WorkImage {
    width: 100%;
    cursor: pointer;
}
.WorkContent {
    padding: 30px 0 50px;
}
.WorkViewBtn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #282938;
    border: none;
    background-color: transparent;
}
.WorkViewBtn:after{
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(/images/blackarrow.svg);
    background-repeat: no-repeat;
    vertical-align: -webkit-baseline-middle;
    margin-left: 10px;
}
.WorkCardHeading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    color: #282938;
}
.WorkCardParg {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    color: #282938;
    opacity: 0.7;
    margin: 20px 0 !important;
    max-width: 623px;
}
/* .OurWork.navlink.active {
    background-color: transparent !important;
    color: #2405F2 !important ;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    padding: 0 24px !important;
  } */
  .navlink {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938 !important;
    opacity: 0.7;
    padding: 0 24px !important;
  }

  /* Responsive start  */
@media only screen and (max-width: 1199px) {
 
}
@media only screen and (max-width: 992px) {
    .OurWork{padding: 50px 0px;}
    .WorkSection{padding: 50px 0px;}
    .WorkCardHeading{font-size: 30px;
        line-height: 35px;}
 
  
}
@media only screen and (max-width: 768px) {
                                                                                                                            
}
@media only screen and (max-width: 767px) {
    .OurWork{padding: 30px 0px;}
    .WorkSection{padding: 30px 0px;}
    .WorkCardHeading{font-size: 25px;}
    .WorkContent{text-align: center;padding: 30px 0 30px;}
    .WorkCardParg{text-align: center; max-width: 100%;}
    .navlink {font-size: 16px;}
    .casestudy_header {
        justify-content: flex-start;
        overflow: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
    }
  
 
}
@media only screen and (max-width: 567px) {
    .navlink {padding: 0 15px !important;}
    .WorkContent{padding: 20px 0 20px;}
    .WorkCardHeading{font-size: 20px;line-height: 16px;}
}
/* Responsive end  */